#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar-div{
  background-color: #888;
  
}
 
.navbar{ 
  /* muove il navbar in alto a destra*/
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 5px; /* muove cosi che non sia attaccato a sinistra*/
  margin-top: 2%;
  margin-bottom: 2%;
}

.navbar li{
  float: inline-start; /*li mette in orrizzontale*/
}

.navbar ul{
  list-style: none; /*togli i punti della lista*/
  padding: 0;
  margin: 0;
}

.navbar li a{
  padding: 10px; /* mette spazio fra i a */
}

/* for the boxes that contain the products*/
.products-box{
  border: 0.20em solid #646cffaa; /* sceglie il colore e spessore della cornice*/
  /*border-radius: 10%; rende la cornice più tonda*/
  float: left; /* mette le scatole una di fianco a l'altra*/
  min-width: 150px; /* le da' una grandezza standard*/
  padding:8px; /* distacco dal centro */
  margin: 20px; /* distanza le scatole una dall'altra*/

  
}

.products-box h2{
  margin-bottom: 0; /* bottom space */
  margin-top: 0;
  position: relative; /* fa funzionare il right*/
  right: 0; /* quanto a destra deve stare */
}

.button-to-add{
  border: 0.20em solid #86987f;
  background-color: #86987f;
  border-radius: 5%; /* per renderlo più tondo*/
}

.button-to-delete{
  border: 0.20em solid #8576a9;
  background-color: #8576a9;
  border-radius: 5%; /* per renderlo più tondo*/
}

.product-box{
  border: 0.20em solid #646cffaa;
  padding:8px;
  min-width: 200px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
